<h1 [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurCompany" class="h1"></h1>
<div id="details" class="details-top">
    <div class="oneDetail">
        <span [innerText]="'כתובת:'" class="address"></span>&nbsp; &nbsp;
        <div class="text details" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurCompanyAddress"></div>
    </div>
    <div class="oneDetail">
        <span [innerText]="'כתובת למשלוח:'" class="address"></span>&nbsp; &nbsp;
        <div class="text details" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurCompanyAddressToSend"></div>
    </div>
    <div class="oneDetail">
        <span [innerText]="'טלפון:'" class="Mail"></span>&nbsp; &nbsp;
        <a href="tel:{{entrepreneurDetails.entrepreneur.EntrepreneurCompanyPhone}}" class="text details phone" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurCompanyPhone"></a>
    </div>
    <div class="oneDetail">
        <span [innerText]="'פקס:'" class="Mail"></span>&nbsp; &nbsp;
        <div class="text details" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurCompanyFax"></div>
    </div>
</div>
<div class="details-bottom">
    <div class="manager">
        <div class="text">
            <img [src]="company">&nbsp; &nbsp;
            <h1 id="yazam"> מנהל החברה:</h1>
        </div>
        <div class="text" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurName"></div>
        <div class="text">
            <img [src]="phone" alt="phone">&nbsp; &nbsp;
            <h1>טלפון מנהל: </h1>
        </div>
        <a class="text" href="tel:{{entrepreneurDetails.entrepreneur.EntrepreneurPhone}} " [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurPhone"></a>
        <div class="text">
            <img [src]="email" alt="email">&nbsp; &nbsp;
            <h1>מייל מנהל: </h1>
        </div>
        <a class="text" href="mailto:{{entrepreneurDetails.entrepreneur.EntrepreneurMail}}" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurMail"></a>
    </div>
    <div class="SecretaryDetalis">
        <div class="text">
            <img [src]="secretary" alt="">&nbsp; &nbsp;
            <h1>מזכירה ראשית: </h1>
        </div>
        <div class="text" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurSecretary"></div>
        <div class="text">
            <img [src]="phone">&nbsp; &nbsp;
            <h1 >טלפון מזכירה ראשית: </h1>
        </div>
        <a class="text" href="tel:{{entrepreneurDetails.entrepreneur.EntrepreneurSecretaryPhone}}" [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurSecretaryPhone"></a>
        <div class="text">
            <img [src]="email">&nbsp; &nbsp;
            <h1 id="yazam">מייל מזכירה ראשית: </h1>
        </div>
        <a class="text" href="mailto:{{entrepreneurDetails.entrepreneur.EntrepreneurSecretaryMail}}"  [innerText]="entrepreneurDetails.entrepreneur.EntrepreneurSecretaryMail"></a>
    </div>
</div>
