:host {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 33px;
        font-weight: 900;
        text-align: inherit;
    }
    .h1 {
        font-size: 65px;
        margin-bottom: 150px;
    }
   .mainDiv{
      flex-direction: column !important;
   }
    div {
        font-size: 25px;
     }
    .hide{
        visibility: hidden;
    }
    .details{
        margin-top: -80px;
    }
}
img {
    width: 4rem;
    height: 4rem;
    right: 150rem;
    top: 5vh;
}
app-view .newButton{
    visibility: hidden;
}