<img [src]="x" (click)="cancel()">
<form [formGroup]="formGroup">
  <ion-list>
  <ion-item class="formLabel required matInput">
    <ion-label position="floating" [innerText]="'שם היועץ'"></ion-label>
    <ion-input formControlName="CounselorOfficeName"></ion-input>
  </ion-item>
  <ion-item class="formLabel required matInput">
    <ion-label position="floating" [innerText]="'כתובת חברת הייעוץ'"></ion-label>
    <ion-input formControlName="CounselorOfficeAdress"></ion-input>
  </ion-item>
  </ion-list>
  <!-- <mat-form-field class="formLabel required matInput">
    <mat-select  formControlName="CounselorOfficeType" [innerText]="selectedService.counselorType.TypeName">
      <mat-option *ngFor="let t of counselorType" [value]="t.value" [innerText]="t.viewValue">
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder=" טלפון חברה היועצת" formControlName="CounselorOfficePhone">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="מנהל המשרד" formControlName="CounselorOfficeManager">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="טלפון מנהל המשרד" formControlName="CounselorOfficeManagerPhone">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="מייל מנהל המשרד" formControlName="CounselorOfficeManagerMail">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="מזכירה ראשית" formControlName="CounselorOfficeMainSecretary">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="טלפון מזכירה ראשית" formControlName="CounselorOfficeMainSecretaryPhone">
  </mat-form-field>
  <mat-form-field class="formLabel required matInput">
    <input matInput type="text" placeholder="מייל מזכירה ראשית" formControlName="CounselorOfficeMainSecretaryMail">
  </mat-form-field>
 -->

<div class="buttons">
  <ion-button mat-button class="mat-button" type="submit" (click)="save()">אישור</ion-button>
  <ion-button mat-button class="mat-button" type="submit" (click)="reset()">ביטול</ion-button>
</div>
</form>
