<img class="img" [src]="x" (click)="cancel()">
<form [formGroup]="formGroup">
  <div class="data">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input clearInput type="text" placeholder=" שם היועץ" formControlName="CounselorOfficeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input  clearInput  placeholder="כתובת חברת הייעוץ" formControlName="CounselorOfficeAdress"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="disabled"></ion-label> 
      <ion-option class="ion-option"  formControlName="CounselorOfficeType" ></ion-option>
      <ion-input [innerText]="selectedService.counselorType.TypeName" disabled></ion-input>
  </ion-item>
    <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput"  type="text" placeholder=" טלפון חברה היועצת" formControlName="CounselorOfficePhone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput" type="text" placeholder="מנהל המשרד" formControlName="CounselorOfficeManager"></ion-input>
  </ion-item>
</div>

<div class="data">
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput" type="text" placeholder="טלפון מנהל המשרד" formControlName="CounselorOfficeManagerPhone"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput"  type="text" placeholder="מייל מנהל המשרד" formControlName="CounselorOfficeManagerMail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput" type="text" placeholder="מזכירה ראשית" formControlName="CounselorOfficeMainSecretary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput"  type="text" placeholder="טלפון מזכירה ראשית" formControlName="CounselorOfficeMainSecretaryPhone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input clearInput class="formLabel required matInput" type="text" placeholder="מייל מזכירה ראשית" formControlName="CounselorOfficeMainSecretaryMail"></ion-input>
    </ion-item>
     </div>
</form>

<div class="buttons">
  <ion-button class="mat-button" type="submit" color="success" fill="clear" (click)="save()">אישור</ion-button>
  <ion-button class="mat-button" type="submit" color="danger" fill="clear"  (click)="reset()">ביטול</ion-button>
</div>
 

