@import '../../../../style/elements.scss';

.all {
    display: flex;
    flex-direction: column ;
    direction: ltr ;
    // overflow: hidden ;
    img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 2vh;
        margin-right: 300px;
    }
    form {
        margin-top: -90vw ;

        .mat-option-trigger {
            min-height: 32.5vw;
        }

        margin-bottom: 10px;
        margin: 15px ;
        display: flex;
        flex-direction: column ;

        .mat-select-panel.custom-select .mat-option {
            height: 100px;
        }

        .details {
            display: flex;
            flex-direction: column;
            margin: 15px;
            .formLabel {
                margin-bottom: -2px;

                &.required {
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 0;
                        // left: -8px;
                        color: #f90707;
                    }
                }
            }
        }

        .ng-valid {
            border-color: rgb(145, 236, 7);
        }

        .errors {
            display: flex;
            flex-direction: column;
            color: red;
        }


        .buttons {
            position: absolute;
            margin-top: 402px;
            //  top: 50px;
            // left: 30vw;
        }
    }
}




.dialog {
    mat-dialog-container {
        visibility: visible;
    }
}
.hide{
    visibility: hidden;
}