<div class="div">
    <div class="for" *ngFor="let c of counselorService.counselors$|async">
        <div class="counselor">
            <ion-button size="small" fill="outline" [innerText]="c.CounselorOfficeName"
                (click)="getCounselorOfficeDetails(c.CounselorOfficeName)" (block)="on($event)"
                (contextmenu)="Delete($event)">
            </ion-button>
        </div>
        <div class="menu" *ngIf="c.CounselorOfficeName.toUpperCase() === en"
             [ngClass]="{show: subscriptionService.show}">
            <div mat-menu-item (click)="onContextMenuUpdate('update')">
                <img [src]="update">
            </div>
            <div mat-menu-item (click)="onContextMenuDelete('delete')">
                <img [src]="delete">
            </div>
        </div>
    </div>
</div>
<span class="hide">{{entrepreneur$|async}}</span>