<div class="div">
    <div *ngFor="let c of counselorService.counselors$|async">
        <div class="counselor">
            <ion-button size="small" fill="outline" [innerText]="c.CounselorOfficeName"
                (click)="getCounselorOfficeDetails(c.CounselorOfficeName)"
                (contextmenu)="Delete($event)"
                (block)="on($event)"
                >

                <div class="myMenu" [matMenuTriggerFor]="contextMenu"
                    style="pointer-events: none; display: flex; flex-direction: row !important;"></div>
            </ion-button>
            <section id="section">
                <mat-menu class="matmenu" #contextMenu="matMenu">
                    <ng-template class="matMenuContent" matMenuContent>
                        <div class="flextion">
                            <div mat-menu-item (click)="onContextMenuUpdate('update')">
                                <img [src]="update">
                            </div>
                            <div mat-menu-item (click)="onContextMenuDelete('delete')">
                                <img [src]="delete">

                            </div>
                        </div>
                    </ng-template>
                </mat-menu>
            </section>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<span class="hide">{{entrepreneur$|async}}</span>
<!-- <section id="section">
    <mat-menu class="matmenu" #contextMenu="matMenu"  >
        <ng-template class="matMenuContent" matMenuContent>
            <div class="flextion">
                <div mat-menu-item (click)="onContextMenuUpdate('update')">
                    <img [src]="update" >
                </div>
                <div mat-menu-item (click)="onContextMenuDelete('delete')">
                    <img [src]="delete" >

                </div>
            </div>
        </ng-template>
    </mat-menu>
</section> -->