@import '../../../../style/elements.scss';
:host{
    display: flex;
    // flex:1 1 auto;
    // height: max-content !important;
    // width: max-content !important;
    max-width: 100% !important;
    margin-right: 75px;
    // .dropdown{     
    //     // top:-200px;      
    //     height:80px;
    //     flex:0 0 auto;
    //  }
    ion-button {
        position: relative;
        flex: 1 1 auto;
        font-size: 2rem;
        flex-direction: row !important;
        border: 2.5px $dark-gray ;
        color: $dark-gray;  
        // background-color: $dark-gray;     
    }
    .counselor{
        padding: 3px;
        margin: 3px;
    }
    .div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    } 
}
p{
 visibility: hidden;
}
::ng-deep .deleteDialog{
    visibility: hidden;
}
