 
 <!-- <lib-table [columns]="columns$ | async" 
  [rows]="cunselors$ | async" ></lib-table>  -->
 <div class="div" >
<div *ngFor="let c of counselorService.cunselorsOfficeType$ | async">
    <div class="counselor"
     (click)="getCounselorsOfficeTypeDetalis(c)">
     <ion-button size="small" fill="outline"      
     (contextmenu)="delete($event)"
     [innerText]="c.TypeName"></ion-button>  
     <!-- <span [innerText]="c.TypeName"></span> &nbsp;&nbsp;&nbsp;         -->
    </div>
</div>
</div>
<p>{{cunselors$ | async}}</p>

