@import './../../../../style/elements.scss';

:host {
    display: flex;
 max-width: 100%;
    flex-wrap: wrap;
    // flex-direction: row;
    // // margin: 100px;
    // font-size: 2.5rem;
    // justify-content: space-around;
    ion-button {
        position: relative;
        flex: 1 1 auto;
        font-size: 2rem;
        flex-direction: row !important;
        border: 2.5px $dark-gray ;
        color: $dark-gray;  
        // background-color: $dark-gray;     
    }
    .entrepreneur {
    //     display: flex;
    //     flex-direction: row !important;
    //     flex-wrap: wrap;
    //     border: 2.5px $dark-gray dotted;
    //     color: $dark-gray;
        margin : 3px;
        padding: 3px;
     }
}

span {
    position: relative;
    flex: 1 1 auto;
    font-size: 2.5rem;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    border: 2.5px $dark-gray dotted;
    color: $dark-gray;
    padding: 3px;
}

::ng-deep .deleteDialog{
    visibility: hidden;
}
::ng-deep .flextion{
    display: flex;
    flex-direction: column !important;
    right: 100px !important;

}
::ng-deep .matmenu{
    margin-right: 100px;
 }
img{
width: 1.5rem;
height: 1.5rem;

}
.ddd{
    background-color: cadetblue;
}