<!-- <lib-table [columns]="columns$ | async"  [rows]="entrepreneur$ | async"></lib-table>  -->
<div *ngFor="let e of entrepreneurService.entrepreneur$ | async">
    <div class="entrepreneur">
        <ion-button size="small" fill="outline" 
        [innerText]="e.EntrepreneurCompany" 
        (click)="getEntrepreneurDetalis(e,$event)"
        (contextmenu)="Delete($event)"
        (block)="on($event)"> 
        <div  [matMenuTriggerFor]="contextMenu" ></div>
    </ion-button>
    <section id="section" >
        <mat-menu class="matmenu" #contextMenu="matMenu" id="ionButton" >
            <ng-template class="matMenuContent" matMenuContent>
                <div class="flextion">
                    <div mat-menu-item (click)="onContextMenuUpdate('update')">
                        <img [src]="update" >
                    </div>
                    <div mat-menu-item (click)="onContextMenuDelete('delete')">
                        <img [src]="delete" >
                    </div>
                </div>
            </ng-template>
        </mat-menu>
    </section>&nbsp;&nbsp;&nbsp;
    </div>
</div>
<!-- <section id="section">
    <mat-menu class="matmenu" #contextMenu="matMenu"  >
        <ng-template class="matMenuContent" matMenuContent>
            <div class="flextion">
                <div mat-menu-item (click)="onContextMenuUpdate('update')">
                    <img [src]="update" >
                </div>
                <div mat-menu-item (click)="onContextMenuDelete('delete')">
                    <img [src]="delete" >
                </div>
            </div>
        </ng-template>
    </mat-menu>
</section> -->