<section>
<div>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label fill="solid" class="formLabel required matInput"
       position="floating"></ion-label>
      <ion-input type="text" placeholder=" סוג היועץ" 
      formControlName="counselorType"></ion-input>
    </ion-item>
  </form>
</div>
<div class="buttons">
  <ion-button class="mat-button" type="submit" color="success" fill="clear" (click)="save()">אישור</ion-button>
  <ion-button class="mat-button" type="submit" color="danger" fill="clear"  (click)="reset()">ביטול</ion-button>
</div>
</section>